##### **Setup**
##### Download report from BCC
1. Go to the web bank client
2. Under each currency account choose "Выписка"
3. After choosing a period -> "Отправить на почту"

In [94]:
#imports
import pandas as pd

In [95]:
#parse euro_acc table
df_euro = pd.read_html('euro_acc.html')[2]
#parse tenge_acc table
df_tenge = pd.read_html('tenge_acc.html')[2]

##### Data rules:
1. All income is positive
2. All spendings are negative



##### DataFrames
1. Day-to-day transactions
2. Account transfers (incl. salary, forex, between banks)

In [104]:
#renaming headers

#adding cashback data
df_temp = df_euro.head(5).copy()
df_temp['Дебет'] = pd.to_numeric(df_temp['Дебет'])
df_temp['Кредит'] = pd.to_numeric(df_temp['Кредит'])
df_temp['Дата'] = pd.to_datetime(df_temp['Дата'], format='%d.%m.%Y')

def add_cashback(row):
    if pd.isna(row['Дебет']):
        row['Дебет'] = row['Кредит']
    if pd.isna(row['Кредит']):
        row['Дебет'] = -row['Дебет']
    return row

df_temp = df_temp.apply(add_cashback, axis=1)
display(df_temp)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   № п/п       5 non-null      float64
 1   Дата        5 non-null      datetime64[ns]
 2   Дебет       5 non-null      float64
 3   Кредит      3 non-null      float64
 4   Назначение  5 non-null      object
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 332.0+ bytes
None

,№ п/п,Дата,Дебет,Кредит,Назначение
0,1.0,2024-01-01,-4.25,NaN,"Retail. Номер устройства в ПЦ, 29.12.2023 00:0..."
1,2.0,2024-01-01,0.09,0.09,Учет вознаграждений по CashBack. Дата 29.12.20...
2,3.0,2024-01-01,0.11,0.11,Учет вознаграждений по CashBack. Дата 29.12.20...
3,4.0,2024-01-01,-5.59,NaN,"Retail. Номер устройства в ПЦ, 29.12.2023 00:0..."
4,5.0,2024-01-01,0.13,0.13,Учет вознаграждений по CashBack. Дата 29.12.20...